*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    text-transform: capitalize;
    transition: all 0.3 linear;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(78, 78, 100);
    background-image: linear-gradient(90deg,rgb(148, 179, 148) 0%,rgb(85, 85, 148) 100%);
}

.box{
    width: 300px;
    height: 455px;
    background-color: aqua;
    border-radius: 5px;
    padding: 20px;
    padding-top: 80px;
    margin: 20px;
    text-align: center;
    letter-spacing: 1px;
    box-shadow: 0 3px 5px rgb(37, 37, 44);
    overflow: hidden;
    position: relative;
    z-index: 0;
}

.box h3{
    font-size: 35px;
    padding: 20px;
    color: #777;
}

.box p{
    font-size: 15px;
    color: #777;
}
.box button{
width: 140px;
height: 40;
background-color:rgb(158, 141, 141);
color: rgb(116, 29, 29);
border: none;
outline: none;
font-size: 17px;
cursor: pointer;
border-radius: 50px;
margin: 40px;
}

.box button:hover{
    letter-spacing: 2px;
    opacity: .8;
}

.box::before{
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}


.box::after{
    width: 100%;
    height: 100%;
    background-color: rgb(163, 103, 13);
    background-image: linear-gradient(45deg, green 0%, pink 100%);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    clip-path: circle(20% at 90% 10%);
    transition: .2s;
}

.box .count{
    position: absolute;
    top: 15px;
    right: 30px;
    font-size: 50px;
    font-weight: bolder;
    color: #fff;
}

.box:nth-child(2)::after{
    background-color: rgb(92, 92, 134);
    background-image: linear-gradient(160deg, aqua 0% brown rgb(100, 124, 100) 100%);
}

.box:nth-child(3)::after{
    background-color: rgb(92, 92, 134);
    background-image: linear-gradient(160deg, rgb(13, 20, 20) 0% rgb(51, 8, 8) green 100%);
}

.box:hover::after{
    clip-path: circle(100%);
    }

    .box h3{color: #fff;}

    .box p{color: #fff;}

    