{% extends 'base.html' %}

{% block body %}
    <div class="container">  
        <div class="box">
            <h3>Home</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A accusantium nemo consequuntur beatae sed. Tempore quas consequatur delectus voluptatum? Laborum architecto, accusantium officiis modi culpa </p>
            <a href="/home"><button>Click Here</button></a>
            <span class="count">1</span>
        </div>
        <div class="box">
            <h3>Weather By City</h3>
            <p>Click below to test an api which search weather by cities</p>
            <a href="/weather"><button>Search</button></a>
            <!-- <a href="/weather.html"><button>Search</button></a> -->
            <span class="count">2</span>
        </div>
        <div class="box">
            <h3>Contact</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit laboriosam maxime fugit voluptates modi et unde, temporibus iste voluptatum totam quasi magnam, aliquid adipisci reiciendis ab praesentium minus mollitia! Asperiores.</p>
            <a href="#"><button>Click Here</button></a>
            <span class="count">3</span>    
        </div>
    </div>
{% endblock %}

